{
  "extends": [
    "eslint-config-umi",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ],
    "ecmaFeatures.jsx": true
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "jsx-a11y"
  ],
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "rules": {
        "react/prop-types": "off"
      }
    }
  ],
  "rules": {
    "no-console": "warn",
    "semi": [
      "error",
      "never"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "jsx-a11y/anchor-has-content": "off",
    "react/display-name": "off",
    "@typescript-eslint/indent": [
      2,
      2
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    // note you must disable the base rule as it can report incorrect errors
    "camelcase": "off",
    "@typescript-eslint/camelcase": [
      "error",
      {
        "ignoreDestructuring": true,
        "properties": "never"
      }
    ]
  }
}